<h1>EAT DA BURGER</h1>
<form class="burger-entry">
    <input type="textarea" id="" name="burger-name"></input>
    <button type="submit">Add Burger</button>
    <p>Enter a burger you want to eat by clickig the submit button.</p>
</form>>